<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="/includes/header :: header">

    </div>
    <title>Resource NotFound</title>
</head>
<body style="background-color: rgb(237, 239, 241);">
    <div class="container">
  
    </div>
    <div class="container mt-5">
  
     
      
      
      <!-- Main Section -->
      <div class="row justify-content-center mt-4">
        <h3>Search result.</h3>
      </div>
      <div class="row justify-content-center mt-3 ">
        <div class="card text-center">
            <div class="card-title">
            <h3>Resource Not Found!!!</h3>
            </div>
            <div class="card-body" style="background-color: rgb(196, 218, 240);">
                <p>Please Check that the Matriculation Number entered is correct and try again.</p>
            </div>
        </div>
      </div>
  
  
  
    </div>
  
  </body>
</html>