<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Statement Lists</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <h3>Statement Lists</h3>
            <table class="table table-stripped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Matriculation Number</th>
                        <th>Student Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="studentData : ${studentData}">
                        <td th:th:text="${studentData.id}"></td>
                        <td scope="row" th:text="${studentData.matNumber}"></td>
                        <td th:text="${studentData.firstName+' '+studentData.middleName+' '+studentData.lastName}"></td>
                        <td><span ><a class="badge badge-pill badge-primary" th:href="@{/statement/{id}(id = ${studentData.id})}">Statement</a></span></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
</body>
</html>